body {
    margin: 0;
    padding: 0;

}
.container {
    width: 1000px;
   
    margin-left: 15%;
    height: 1000px;
    position: absolute;
}
.logo {
    position: relative;
    float: left;
    margin: 0% 10% 0% 10%;
    left: 210px;
    right: 210px;
}

.clear {
    clear: both;
}

.search-bar {
    width: 100%;
    background-color: #EEEEEE;
    height: 70px;
}

.search-prg {
    display: inline-block;
    margin-top: 0%;
    left: 40%;
    position: absolute;

}

.search-box {
    position: relative;
    left: 33%;
}

.btn-1 {
    display: inline-block;
    position: absolute;
    left: 37%;
    margin-top: 5px;
}
.btn-2 {
    display: inline-block;
    position: absolute;
    left: 49%;
    margin-top: 5px;

}

.card1 {
    margin-top: 3px;
    width: 330px;
    background-color: Aquamarine;
    height: 100px;
    float: left;
    margin: 3px;
    padding: 5;
}

.card2 {
        margin-top: 3px;
        width: 330px;
        background-color: Aquamarine;
        height: 100px;
        float: left;
        margin-right: 3px;
}

.card3 {
        margin-top: 3px;
        width: 330px;
        background-color: Aquamarine;
        height: 100px;
        float: left;
}

.card1 ul li {
    text-decoration: none;
    display: block;
    text-align: center;
}

.card2 ul li {
    text-decoration: none;
    display: block;
    text-align: center;
}

.card3 h5 {
    margin: 0px;
    left: 80px;
    position: relative;
    display: inline-block;
}

.archive-search {
    position: relative;
    left: 60px;
}

.archive-submit {
    position: relative;
    left: 80px;
}

.archive {
    display: inline-block;
    position: relative;
    left: 100px;
}

.clear {
    clear: both;
}

.copyright {
    display: inline-block;
    position: relative;
    left: 70px;
}